body {
    height: auto;
    width: auto;
    margin: auto;

}


#dashboard {
    height: auto;
    width: auto;
    margin: auto;
    background-color: antiquewhite;

}

#dashboard-title {

}

#ticket-container {
    height: 120px;
    width: 900px;
    margin-top: 30px;
    margin-left: 10px;
    background-color: darkcyan;
    border-radius: 20px;
    border-style: solid;

}

#ticket-title {
    margin-left: 100px;
    font-size: 20px;

}

#name {
    margin-left: 100px;

}

#subject {

}

#categories {
    margin-top: -12px;
    margin-left: 5in;

}

#tech {
    width: 90px;

}


#ticket-modal {
    display: none; /* shows nothing until button clicked */
    position: fixed;
    z-index: 1;
    width: 400px;
    height: 400px;
    overflow: auto;
    background-color: whitesmoke;
    border-radius: 40px;
    margin-top: -3.5in;
    margin-left: 8in;
    /*animation-name: animatetop;
    animation-duration: .9s 
*/
}

.ticket-toggle{
    margin-left: 30px;
    margin-top:50px;
    position: absolute;
}

.updateBox {
    float: right;
    margin-top: 200px;
    border: 10px;
    display: none;

}