<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='dashboard.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="main.js"></script>


</head>
<body>

    <nav>
        <button id="home">Home</button>
        <button id="main-dash">Dashboard</button>
        <button id="knowledgebase">Knowledgebase</button>
        <button id="settings">Settings</button>
        <button id="logout">Logout</button>
    </nav>

    <section id="dashboard">
        <h1 id="dashboard-title">Tickets</h1>



    </section>

    <form id="test-form">
        <label for="user">Name:</label><br>
        <input type="text" id="user" name="user"><br>

        <label for="title">Header:</label><br>
        <input type="text" id="title" name="title"><br>

        <label for="subject">Subject:</label><br>
        <input type="text" id="desc" name="desc"><br>
        <input type="submit" value="Submit">
    </form>
    
    <section id="linechart">



    </section>




    <script>
        document.getElementById("test-form").addEventListener("submit", function(event) {
        event.preventDefault();
        createTicket();
        });

        let title = document.getElementById('ticket-title');
        

    </script>

</body>
</html>